<?php
  // Fill me in
  $sqlHost     = "";     // Hostname of your SQL server, or "localhost"
  $sqlUser     = "";     // SQL user name
  $sqlPass     = "";     // SQL password
  $sqlDatabase = "";     // Database name on SQL server
  $sqlPrefix   = "";     // A prefix to use on all table names, optional but it help you sort your tables
  $dbmDebug    = false;  // Set to true if you want to enable debugging output
  $dbmAutoDrop = false;  // Set to true if you want DBM to automatically drop columns that you remove from your table_defs (SCARY)

	$dbmAllowConfOverrides = true; // Allow config consts defined before this file. See test.php for example.  Possible security risk.


	/***************************************   Non-user-servicable parts below   ********************************************/
  // SQL options
  if (!defined('SQL_HOST'))         { define('SQL_HOST',         $sqlHost); }
		else if (!$dbmAllowConfOverrides)  { die('SQL_HOST was previously defined as "'.SQL_HOST.'" and that is not allowed per '.__FILE__); }

	if (!defined('SQL_USER'))         { define('SQL_USER',         $sqlUser); }
		else if (!$dbmAllowConfOverrides)  { die('SQL_USER was previously defined as "'.SQL_HOST.'" and that is not allowed per '.__FILE__); }

	if (!defined('SQL_PASS'))         { define('SQL_PASS',         $sqlPass); }
		else if (!$dbmAllowConfOverrides)  { die('SQL_PASS was previously defined as "'.SQL_HOST.'" and that is not allowed per '.__FILE__); }

	if (!defined('SQL_DBASE'))        { define('SQL_DBASE',        $sqlDatabase); }
		else if (!$dbmAllowConfOverrides)  { die('SQL_DBASE was previously defined as "'.SQL_HOST.'" and that is not allowed per '.__FILE__); }

	if (!defined('SQL_TABLE_PREFIX')) { define('SQL_TABLE_PREFIX', $sqlPrefix); }
		else if (!$dbmAllowConfOverrides)  { die('SQL_TABLE_PREFIX was previously defined as "'.SQL_HOST.'" and that is not allowed per '.__FILE__); }

	// General Options
	if (!defined('DBM_DEBUG'))        { define('DBM_DEBUG',        $dbmDebug); }
		else if (!$dbmAllowConfOverrides)  { die('DBM_DEBUG was previously defined as "'.SQL_HOST.'" and that is not allowed per '.__FILE__); }

	if (!defined('DBM_AUTODROP'))     { define('DBM_AUTODROP',     $dbmAutoDrop); }
		else if (!$dbmAllowConfOverrides)  { die('DBM_AUTODROP was previously defined as "'.SQL_HOST.'" and that is not allowed per '.__FILE__); }

?>
