<?php
  // Fill me in
  $sqlHost     = "";  // Hostname of your SQL server, or "localhost"
  $sqlUser     = "";  // SQL user name
  $sqlPass     = "";  // SQL password
  $sqlDatabase = "";  // Database name on SQL server
  $sqlPrefix   = "";  // A prefix to use on all table names, optional but it help you sort your tables

  //SQL options
  define('SQL_HOST',         $sqlHost);
  define('SQL_USER',         $sqlUser);
  define('SQL_PASS',         $sqlPass);
  define('SQL_DBASE',        $sqlDatabase);
  define('SQL_TABLE_PREFIX', $sqlPrefix);
?>
